# should match root/requirements.txt, except for adding these lines for Sphinx
# used by readthedocs.org to build the docs, which involves importing modules for autodoc

nbsphinx
ipython<=8.6.0
ipykernel

Sphinx
sphinx-rtd-theme

#for jupyter notebook pages


numpy
matplotlib
scipy
JAX