# should match root/requirements.txt, except for adding these lines for Sphinx
# used by readthedocs.org to build the docs, which involves importing modules for autodoc
Sphinx
nbsphinx
sphinx-rtd-theme

numpy
matplotlib
scipy
JAX